@using LocadoraDeAutomoveis.Dominio.ModuloAutomoveis
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model InserirAutomovelViewModel
@{
    ViewBag.Title = "Inserir Novo Automóvel";
}

<div class="col">
    <div class="row gap-3 my-3 my-xl-5">
        <form class="col-lg-6 d-grid gap-3 fs-5" asp-action="Inserir" enctype="multipart/form-data">
            
            <!-- Foto do Veículo -->
            <div>
                <label class="control-label" asp-for="FotoVeiculo"></label>
                <input class="form-control" asp-for="FotoVeiculo" type="file" accept="image/jpeg"/>
                <span class="text-danger " asp-validation-for="FotoVeiculo"></span>
            </div>

            <!-- Marca -->
            <div>
                <label class="control-label fw-semibold mb-1">Marca</label>
                <input class="form-control mb-1" asp-for="Marca"/>
                <span class="text-danger fs-6" asp-validation-for="Marca"></span>
            </div>

            <!-- Modelo -->
            <div>
                <label class="control-label fw-semibold mb-1">Modelo</label>
                <input class="form-control mb-1" asp-for="Modelo"/>
                <span class="text-danger fs-6" asp-validation-for="Modelo"></span>
            </div>

            <!-- Cor -->
            <div>
                <label class="control-label fw-semibold mb-1">Cor</label>
                <input class="form-control mb-1" asp-for="Cor"/>
                <span class="text-danger fs-6" asp-validation-for="Cor"></span>
            </div>

            <!-- Placa -->
            <div>
                <label class="control-label fw-semibold mb-1">Placa</label>
                <input class="form-control mb-1" asp-for="Placa"/>
                <span class="text-danger fs-6" asp-validation-for="Placa"></span>
            </div>

            <!-- Combustível -->
            <div>
                <label class="control-label fw-semibold mb-1">Tipo de Combustível</label>
                <select class="form-control mb-1" asp-for="TipoCombustivel" asp-items="Html.GetEnumSelectList<TipoCombustivel>()"></select>
                <span class="text-danger fs-6" asp-validation-for="TipoCombustivel"></span>
            </div>

            <!-- Ano -->
            <div>
                <label class="control-label fw-semibold mb-1">Ano</label>
                <input class="form-control mb-1" asp-for="Ano"/>
                <span class="text-danger fs-6" asp-validation-for="Ano"></span>
            </div>

            <!-- Capacidade de Combustível -->
            <div>
                <label class="control-label fw-semibold mb-1">Capacidade de Combustível</label>
                <input class="form-control mb-1" asp-for="CapacidadeCombustivel"/>
                <span class="text-danger fs-6" asp-validation-for="CapacidadeCombustivel"></span>
            </div>
@* 
            <!-- Foto Veículo -->
            <div>
                <label class="control-label fw-semibold mb-1">URL da Foto do Veículo</label>
                <input type="url" class="form-control mb-1" asp-for="FotoVeiculo" placeholder="Digite a URL da imagem" oninput="updateImagePreview()"/>
                <span class="text-danger fs-6" asp-validation-for="FotoVeiculo"></span>
            </div>

            <!-- Pré-visualização da Imagem -->
            <div>
                <img id="imgPreview" src="#" alt="Pré-visualização da imagem" style="display:none; max-width: 100%; height: auto; margin-top: 10px;"/>
            </div>
 *@
            <!-- Grupo de Automóveis -->
            <div>
                <label class="control-label fw-semibold mb-1">Grupo de Automóveis</label>
                <select class="form-control mb-1" asp-for="GrupoAutomovelId" asp-items="Model.GrupoAutomovel"></select>
                <span class="text-danger fs-6" asp-validation-for="GrupoAutomovelId"></span>
            </div>

            <div class="d-grid gap-2 d-md-block mt-4">
                <button class="btn btn-primary px-5">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Gravar
                </button>

                <a class="btn btn-outline-primary px-5" href="/Automovel/Listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>

<script>
    function updateImagePreview() {
        const url = document.querySelector('input[asp-for="FotoVeiculo"]').value;
        const imgPreview = document.getElementById('imgPreview');

        if (url) {
            imgPreview.src = url;
            imgPreview.style.display = 'block';
        } else {
            imgPreview.src = '#';
            imgPreview.style.display = 'none';
        }
    }
</script>